<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7/dist/css/bootstrap.css}">
    <script th:src="@{/webjars/jquery/3.5.1/dist/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7/dist/js/bootstrap.min.js}"></script>
    <script type="text/javascript" src="../vue/vue.min.js"></script>
    <script type="text/javascript" src="../bootstrap/bootstrap-paginator.js"></script>
</head>
<body>
    <div class="container">
        <h1>添加订单</h1>
        <form class="form-horizontal" th:action="@{/savePeople}" method="post">
            <input type="hidden" th:value="${selectPeopleById.id}" name="id"/>
            <div class="form-group">
                <label for="name" class="col-sm-2 control-label">姓名</label>
                <div class="col-sm-10">
                    <input type="text" th:value="${selectPeopleById.name}" class="form-control" name="name"  id="name" placeholder="姓名"/>
                </div>
            </div>
            <div class="form-group">
                <label for="deptid" class="col-sm-2 control-label">部门</label>&nbsp;&nbsp;&nbsp;&nbsp;
                <input class="deptid" name="deptid" style="display: none"/>
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <span class="buttonText" th:text="${selectPeopleById.deptid==null?'--请选择--':(selectPeopleById.deptid==1?'董事':'手下')}">--请选择--</span>
                        <span class="caret"></span>
                    </button>
                    <ul id="deptid" class="dropdown-menu" role="menu">
                        <li><a href="#" onclick="shows($(this).text(),1)">董事</a></li>
                        <li><a href="#" onclick="shows($(this).text(),2)">手下</a></li>
                    </ul>
                </div>
            </div>
            <div class="form-group">
                <label for="gw" class="col-sm-2 control-label">岗位</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="gw"  th:value="${selectPeopleById.gw}" id="gw" placeholder="岗位"/>
                </div>
            </div>
            <div class="form-group">
                <label for="zz" class="col-sm-2 control-label">职责</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="zz"  th:value="${selectPeopleById.zz}" id="zz" placeholder="职责"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <input type="submit" value="Submit" class="btn btn-info" />
                    <a th:href="@{/findOrder}" class="btn btn-info">Back</a>
                </div>
            </div>
        </form>
    </div>
</body>
<script>
    function shows(a,b) {
        $('.buttonText').text(a);
        alert(b);
        $('.deptid').val(b)
    }
</script>
</html>