<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7/dist/css/bootstrap.css}">
    <script th:src="@{/webjars/jquery/3.5.1/dist/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7/dist/js/bootstrap.min.js}"></script>
    <script type="text/javascript" src="../vue/vue.min.js"></script>
    <script type="text/javascript" src="../bootstrap/bootstrap-paginator.js"></script>
</head>
<body>
<span th:text="${peopleList}"></span>
<div class="container">
    <h1>订单列表</h1>
    <div class="text-left">
        <a class="btn btn-info" th:href="@{people/toAdd}">Add</a>
    </div>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>#</th>
            <th>姓名</th>
            <th>职位名</th>
            <th>入职时间</th>
            <th>岗位</th>
            <th>职责</th>
            <th>修改</th>
            <th>删除</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="people : ${peopleList}">
            <td th:text="${people.id}"></td>
            <td th:text="${people.name}"></td>
            <td th:text="${people.deptname}"></td>
            <td th:text="${people.rudate}"></td>
            <td th:text="${people.gw}"></td>
            <td th:text="${people.zz}"></td>
            <td>
                <a th:href="@{/selectPeopleById(peopleId=${people.id})}">Update</a>
            </td>
            <td>
                <a th:href="@{/deletePeopleById(peopleId=${people.id})}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>